.card-container {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
}
.card-container .card {
  display: flex;
  font-family: "JetBrains Mono";
  flex-direction: column;
  flex: 0 0.8 20rem;
  overflow: hidden;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0.1));
  border-radius: 16px;
  margin: 0 2rem;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-top: 2px solid rgba(255, 255, 255, 0.5);
}
.card-container .card .visible {
  display: flex;
  margin: 0;
  justify-content: center;
  flex-direction: column;
  color: #f64a80;
  transform: translateY(50%);
}
.card-container .card .visible .cross {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.card-container .card .visible i {
  font-size: 64px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.card-container .card .visible .labels {
  margin: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: height 0.25s linear;
}
.card-container .card .invisible {
  padding: 2.5rem 1rem 2rem;
  margin: 0;
  display: flex;
  z-index: -1;
  color: #f64a80;
}

@media only screen and (min-width: 40em) {
  .card-container {
    gap: 2rem;
  }
  .card-container .card-md {
    flex: 0 0 23rem;
    padding: 1rem;
    margin: 0;
  }
  .card-container .card-md .visible {
    transition: all 0.35s linear;
    transform: translateY(5rem);
    opacity: 1;
    justify-content: center;
  }
  .card-container .card-md .visible .labels {
    height: fit-content;
    opacity: 1;
  }
  .card-container .card-md .invisible {
    padding: 0;
    height: 100%;
    align-items: center;
    z-index: -1;
    color: #f64a80;
    background-color: transparent;
    opacity: 1;
    box-shadow: none;
    transform: translateY(110%);
    transition: all 0.35s linear;
  }
  .card-container .card-md:hover {
    cursor: pointer;
  }
  .card-container .card-md:hover .visible {
    transform: translateY(0);
    background-color: inherit;
  }
  .card-container .card-md:hover .visible .labels {
    opacity: 0;
  }
  .card-container .card-md:hover .invisible {
    opacity: 1;
    z-index: 1;
    transform: translateY(-2rem);
  }
  .card-container .card-md:hover .invisible.extra {
    transform: translateY(-2rem);
  }
}
@media only screen and (min-width: 87.5em) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  .card-container .card-md {
    padding: 0.5rem;
    line-height: 1.2;
    margin: 1rem;
  }
  .card-container .card-md:nth-child(1) {
    grid-column: 5/9;
    grid-row: 1/3;
  }
  .card-container .card-md:nth-child(2) {
    grid-column: 1/5;
    grid-row: 2/4;
  }
  .card-container .card-md:nth-child(3) {
    grid-column: 9/13;
    grid-row: 2/4;
  }
  .card-container .card-md:nth-child(4) {
    grid-column: 5/9;
    grid-row: 3/5;
  }
}
.btn {
  border-radius: 5rem;
  border: solid 2px #00fbff;
  padding: 0.35em 1.25em 0.35em;
  color: white;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}

.btn:hover,
.btn:focus {
  background-color: #00fbff;
  color: white;
  border-color: white;
}

.material-icons-outlined.md-32 {
  font-size: 32px;
}

.icons {
  display: flex;
  gap: 1rem;
  align-self: flex-end;
  animation: icons linear 1s 5s forwards;
  opacity: 0;
}
.icons a {
  text-decoration: none;
  display: flex;
}
.icons i {
  width: 1.5rem;
  height: 1.5rem;
  border: 1px white solid;
}
@media only screen and (min-width: 40em) {
  .icons i {
    width: 2rem;
    height: 2rem;
  }
}
.icons i svg {
  background-color: white;
}

@keyframes bounce {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(0, 0.25rem);
  }
  50% {
    transform: translate(0, 0);
  }
  75% {
    transform: translate(0, -0.25rem);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes slide-up {
  from {
    transform: translateY(5rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-right {
  from {
    transform: translateX(-10rem);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes appear {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  90% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.3;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 0.6;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slide-down {
  0% {
    transform: translateY(-100vh);
    opacity: 0;
    height: 0;
  }
  15% {
    transform: translateY(0);
    opacity: 1;
    height: 100vh;
    position: absolute;
    z-index: 1;
  }
}
@keyframes icons {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes hint {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
.nav-bar {
  position: relative;
  overflow-x: hidden;
}
.nav-bar .list-unstyled {
  transition: width 0.35s linear;
}
.nav-bar i {
  background-color: black;
  border-radius: 10px;
  position: fixed;
  top: 1rem;
  z-index: 2;
  right: 1rem;
  color: #f64a80;
  transform: translate(0);
  opacity: 1;
  transition: 0.5s linear;
  font-size: 48px;
}
.nav-bar i:hover {
  cursor: pointer;
}
@media only screen and (min-width: 40em) {
  .nav-bar i {
    transform: translate(100vw, 0);
    opacity: 0;
  }
}
.nav-bar .nav {
  z-index: 1;
  overflow-x: hidden;
  opacity: 0.9;
  position: fixed;
  right: 0;
  top: 0;
  min-height: 100vh;
  width: 0;
  display: flex;
  font-size: 2rem;
  color: #f64a80;
  font-weight: bold;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  gap: 2rem;
  align-items: center;
}
@media only screen and (min-width: 40em) {
  .nav-bar .nav {
    width: 100vw;
    font-size: 1.75rem;
    flex-direction: row;
    justify-content: flex-end;
    color: #00fbff;
    min-height: 2rem;
    padding: 1rem 2rem;
  }
  .nav-bar .nav a {
    display: inline-block;
    transition: transform 0.25s linear, color 0.25s linear;
  }
  .nav-bar .nav a:hover, .nav-bar .nav a:focus, .nav-bar .nav a.current-page {
    color: #f64a80;
    transform: scale(1.1);
  }
}
.nav-bar .width {
  width: 0;
}
@media only screen and (min-width: 40em) {
  .nav-bar .width {
    width: 100vw;
  }
}

.skip-links {
  list-style: none;
  margin: 0;
  padding: 0;
}
.skip-links a {
  text-decoration: none;
  color: inherit;
  position: absolute;
  width: 100%;
  background-color: #00fbff;
  top: -200rem;
  z-index: 1000;
  text-align: center;
  font-weight: bold;
}
.skip-links a:focus {
  top: 0;
}

html {
  box-sizing: border-box;
  line-height: 1.5;
  scroll-behavior: smooth;
  font-family: "JetBrains Mono", monospace;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  position: relative;
  background-color: black;
  transition: font-size 0.75s linear;
}

img {
  max-width: 100%;
}

svg {
  max-width: 100%;
}

.container-outer {
  max-width: min(55em, 100%);
  margin: 0 auto;
  padding: 1.5rem;
  text-align: center;
}

main {
  position: relative;
}

.blur {
  overflow: hidden;
}
@media only screen and (min-width: 40em) {
  .blur {
    overflow: scroll;
  }
}

.no-scroll {
  overflow: hidden;
}

section {
  min-height: 100vh;
  color: white;
  margin-bottom: 2rem;
  scroll-margin: 2rem;
}

.loader {
  display: flex;
  background-color: black;
  opacity: 1;
  position: fixed;
  transform: translateY(0);
  z-index: 100;
  height: 100vh;
  width: 100%;
  animation: appear 3.5s linear forwards;
  justify-content: center;
  align-items: center;
}
.loader i {
  opacity: 0;
  animation: blink 3s 0.5s linear forwards;
}
.loader i svg {
  height: 8rem;
  width: 8rem;
}
@media only screen and (min-width: 40em) {
  .loader i svg {
    height: 10rem;
    width: 10rem;
  }
}

.home {
  transform: translateY(0);
  transition: 0.5s linear;
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../images/background-phone.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home .container-inner {
  max-width: min(45em, 100%);
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
@media only screen and (min-width: 40em) {
  .home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../images/background.png");
  }
}
.home .name {
  display: inline-block;
  opacity: 0;
  transform: translateY(5rem);
  animation: slide-up 0.75s 4s ease-in forwards, bounce linear infinite 2s;
  display: inline-block;
}
.home .desig {
  opacity: 0;
  transform: translateX(-20rem);
  animation: slide-right linear 1s 4.5s forwards;
  display: flex;
  align-self: flex-end;
  text-align: right;
  font-family: "JetBrains Mono", monospace;
}
.home .shadow {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border: 1px solid rgba(255, 255, 255, 0.014);
}

.illustrator,
.css,
.html {
  height: 3rem;
  width: 3rem;
  opacity: 0.5;
}

.about {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  max-width: min(90em, 100%);
  margin: 0 auto;
}
.about .container-outer.text-part {
  padding-bottom: 0;
}
.about .text-part {
  padding: 1rem;
  width: 90%;
  margin: 2rem auto;
}
@media only screen and (min-width: 87.5em) {
  .about {
    margin: 0 auto;
    justify-content: center;
    padding: 1rem 2rem 0;
    justify-content: space-between;
    gap: 3rem;
  }
}

.list-unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list-unstyled a {
  text-decoration: none;
  color: inherit;
}

.styled-list {
  margin: 0;
  padding-left: 1.5rem;
}

.text-center {
  text-align: center;
}

p {
  font-size: 1.5rem;
}

h1 {
  margin: 0.75rem auto 0;
  display: inline-block;
  font-size: 3.052rem;
  text-align: center;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

.name {
  background-image: linear-gradient(to right, #f64a80, #ff9cbb);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.about .text-part {
  font-size: 2rem;
}
.about .accent {
  color: #f64a80;
}
.about .labels {
  font-weight: bolder;
}
.about h4 {
  margin-bottom: 0;
}

@media only screen and (min-width: 40em) {
  h1 {
    font-size: 4.209rem;
    margin: 1.5rem auto 0;
  }

  h2 {
    font-size: 3.157rem;
  }

  h3 {
    font-size: 2.369rem;
  }

  h4 {
    font-size: 1.777rem;
  }

  p {
    font-size: 2rem;
  }

  .card p {
    font-size: 1.7rem;
  }
}

/*# sourceMappingURL=main.css.map */
