.container-outer {
  max-width: min(55em, 100%);
  margin: 0 auto;
  padding: 1.5rem;
  text-align: center;
}
main {
  scroll-snap-type: y proximity;
  height: 100vh;
  overflow-y: scroll;
  position: relative;
}
.blur {
  overflow: hidden;
  @media only screen and (min-width: 40em) {
    overflow: scroll;
  }
}

.no-scroll {
  overflow: hidden;
}

section {
  min-height: 100vh;
  color: $color-primary;
  margin-bottom: 2rem;
  scroll-snap-align: start;
  scroll-margin: 2rem;
}
.loader {
  display: flex;
  background-color: $color-background;
  opacity: 1;
  position: fixed;
  transform: translateY(0);
  z-index: 100;
  height: 100vh;
  width: 100%;
  animation: appear 3.5s linear forwards;
  justify-content: center;
  align-items: center;
  i {
    opacity: 0;
    animation: blink 3s 0.5s linear forwards;
    svg {
      height: 6rem;
      width: 6rem;
      @media only screen and (min-width: 40em) {
        height: 10rem;
        width: 10rem;
      }
    }
  }
}
.home {
  .container-inner {
    max-width: min(45em, 100%);
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  transform: translateY(0);
  transition: 0.5s linear;
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../../images/background-phone.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media only screen and (min-width: 40em) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("../../images/background.png");
  }
  .name {
    display: inline-block;
    opacity: 0;
    transform: translateY(5rem);
    animation: slide-up 0.75s 4s ease-in forwards, bounce linear infinite 2s;
    display: inline-block;
  }
  .desig {
    opacity: 0;
    transform: translateX(-20rem);
    animation: slide-right linear 1s 4.5s forwards;
    display: flex;
    align-self: flex-end;
    text-align: right;
    font-family: "JetBrains Mono", monospace;
  }
  .shadow {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    border: 1px solid rgba(255, 255, 255, 0.014);
  }
}

.illustrator,
.css,
.html {
  height: 3rem;
  width: 3rem;
  opacity: 0.5;
}

.about {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .container-outer.text-part {
    padding-bottom: 0;
  }
  @media only screen and (min-width: 87.5em) {
    .text-part {
      flex: 0.4;
      padding-right: 0;
      margin: 0;
      font-size: 2rem;
    }
    max-width: min(90em, 100%);
    margin: 0 auto;
    justify-content: center;
    padding: 2rem;
    gap: 2rem;
    flex-direction: row;
    .card-container {
      flex: 0.6;
      .card {
        height: 20rem;
      }
    }
  }
}
