.container-outer {
  max-width: min(45em, 100%);
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.container-inner {
  max-width: min(45em, 100%);
  margin: 0 auto;
  padding: 1.5rem;
}
main {
  // padding: 0;
  scroll-snap-type: y mandatory;
  // height: 100%;
  // width: 100%;
  // overflow-y: scroll;
}
.blur {
  overflow: hidden;
  @media only screen and (min-width: 40em) {
    overflow: scroll;
  }
}

.no-scroll {
  overflow: hidden;
}

section {
  min-height: 100vh;
  color: $color-primary;
  scroll-snap-align: start;
}
.loader {
  display: flex;
  background-color: $color-background;
  opacity: 1;
  height: 100vh;
  animation: appear 3.5s 0.5s linear forwards;
  justify-content: center;
  align-items: center;
  i {
    opacity: 0;
    animation: blink 3s 1s linear forwards;
    svg {
      height: 6rem;
      width: 6rem;
      @media only screen and (min-width: 40em) {
        height: 10rem;
        width: 10rem;
      }
    }
  }
}
.home {
  transform: translateY(0);
  transition: all 0.5s linear;
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../images/background-phone.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media only screen and (min-width: 40em) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../../images/background.png");
  }
  .name {
    display: inline-block;
    opacity: 0;
    transform: translateY(5rem);
    animation: slide-up 0.75s 4s ease-in forwards, bounce linear infinite 2s;
    display: inline-block;
  }
  .desig {
    opacity: 0;
    transform: translateX(-20rem);
    animation: slide-right linear 1s 4.5s forwards;
    display: flex;
    align-self: flex-end;
    text-align: right;
    font-family: "JetBrains Mono", monospace;
  }
  .shadow {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.035);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    border: 1px solid rgba(255, 255, 255, 0.076);
  }
  // &.scrolled {
  //   transform: translateY(-100vh);
  //   height: 0;
  // }
}

.illustrator,
.css,
.html {
  height: 3rem;
  width: 3rem;
  opacity: 0.5;
}

.about {
  text-align: center;
}
