.foot {
  background-color: $color-background-clear;
  padding: 1rem;
  text-align: center;
  color: white;
  @media only screen and (min-width: 45em) {
    text-align: right;
    padding: 0.5rem;
  }
}
