//TODO rewrite nav bar to change at screen size and transition smoothly.get rid of multiple levels

.nav-bar {
  .list-unstyled {
    transition: width 0.5s linear;
  }

  position: relative;
  i {
    background-color: $color-background;
    position: fixed;
    top: 1rem;
    z-index: 1;
    right: 1rem;
    color: $color-accent;
    transform: translate(0);
    opacity: 1;
    transition: 0.5s linear;
    font-size: 48px;
    &:hover {
      cursor: pointer;
    }
    @media only screen and (min-width: 40em) {
      transform: translate(100vw, 0);
      opacity: 0;
    }
  }
  overflow-x: hidden;

  .nav {
    z-index: 1;
    overflow-x: hidden;
    opacity: 0.9;
    position: fixed;
    right: 0;
    top: 0;
    min-height: 100vh;
    width: 0;
    display: flex;
    font-size: 2rem;
    color: $color-accent;
    font-weight: bold;
    flex-direction: column;
    justify-content: center;
    background-color: $color-background;
    gap: 2rem;
    align-items: center;
    @media only screen and (min-width: 40em) {
      width: 100vw;
      font-size: 1.75rem;
      flex-direction: row;
      justify-content: flex-end;
      // color: $color-primary;
      min-height: 2rem;
      padding: 1rem 2rem;

      a {
        display: inline-block;
        transition: transform 0.25s linear;
        &:hover {
          color: $color-primary;
          transform: scale(1.1);
        }
      }
    }
  }
  .ham-clicked {
    z-index: 11;
  }
  .width {
    width: 0;
    @media only screen and (min-width: 40em) {
      width: 100vw;
    }
  }
}
