.nav-bar {
  .list-unstyled {
    transition: width 0.35s linear;
  }
  position: relative;
  i {
    .line {
      width: 2.25rem;
      height: 0.3rem;
      background-color: $color-accent;
      text-align: right;
      border-radius: 1rem;
      opacity: 1;
      transform-origin: center;
      transform: rotate(0) translate(0);
      transition: transform 0.25s linear, opacity 0.15s linear;
    }
    .upper-line.rotate-left {
      transform: translateY(0.75rem) rotate(135deg);
      background-color: white;
    }
    .center-line.vanish {
      opacity: 0;
    }
    .lower-line.rotate-right {
      transform: translateY(-0.75rem) rotate(-135deg);
    }
    display: flex;
    gap: 0.45rem;
    flex-direction: column;
    text-align: right;
    align-items: flex-end;
    background-color: $color-background;
    position: fixed;
    top: 1rem;
    z-index: 2;
    right: 1rem;
    transform: translate(0);
    opacity: 1;
    transition: 0.5s linear;
    &:hover {
      cursor: pointer;
    }
    @media only screen and (min-width: 40em) {
      transform: translate(100vw, 0);
      opacity: 0;
    }
  }
  overflow-x: hidden;

  .nav {
    z-index: 1;
    overflow-x: hidden;
    opacity: 0.9;
    position: fixed;
    right: 0;
    top: 0;
    min-height: 100vh;
    width: 0;
    display: flex;
    font-size: 2rem;
    color: $color-accent;
    font-weight: bold;
    flex-direction: column;
    justify-content: center;
    background-color: $color-background;
    gap: 2rem;
    align-items: center;
    @media only screen and (min-width: 40em) {
      width: 100vw;
      font-size: 1.75rem;
      flex-direction: row;
      justify-content: flex-end;
      color: $color-secondary;
      min-height: 2rem;
      padding: 1rem 2rem;
      max-width: min(65em, 100%);
      a {
        display: inline-block;
        transition: transform 0.15s linear, color 0.15s linear;
        &:hover,
        &:focus,
        &.current-page {
          color: $color-accent;
          transform: scale(1.1);
        }
      }
    }
  }
  .width {
    width: 0;
    @media only screen and (min-width: 40em) {
      width: 100vw;
    }
  }
}
