html {
  box-sizing: border-box;
  line-height: 1.5;
  scroll-behavior: smooth;
  font-family: "JetBrains Mono", monospace;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  position: relative;
  background-color: $color-background;
  transition: font-size 0.75s linear;
}

img {
  max-width: 100%;
}

svg {
  max-width: 100%;
}
