.list-unstyled {
  @include list;
  a {
    @include anchors;
  }
}

.styled-list {
  margin: 0;
  padding-left: 1.5rem;
}

.text-center {
  text-align: center;
}

// Type Hierarchy

p {
  font-size: 1.5rem;
}

a.link {
  color: $color-accent;
}

h1 {
  margin: 0.75rem auto 0;
  display: inline-block;
  font-size: 3.052rem;
  text-align: center;
}

h2 {
  font-size: 2.441rem;
}

h3,
.desig {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}
.name {
  background-image: linear-gradient(
    to right,
    $color-accent,
    $color-accent-light
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.about {
  .text-part {
    font-size: 2rem;
  }
  .accent {
    color: $color-accent;
  }
  .labels {
    font-weight: bolder;
  }

  h4 {
    margin-bottom: 0;
  }
}
.portfolio {
  .content {
    color: $color-secondary;
  }
  .proj-title {
    color: $color-background;
    margin: 0;
    position: relative;
    z-index: 1;
  }
}
//Tablet and Desktop view
@media only screen and (min-width: 60em) {
  h1 {
    font-size: 4.209rem;
    margin: 1.5rem auto 0;
  }

  h2 {
    font-size: 3.157rem;
  }

  h3,
  .desig {
    font-size: 2.369rem;
  }

  h4 {
    font-size: 1.777rem;
  }
  p {
    font-size: 2rem;
  }
  .card {
    p {
      font-size: 1.7rem;
    }
  }
}
