@keyframes bounce {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(0, 0.25rem);
  }
  50% {
    transform: translate(0, 0);
  }
  75% {
    transform: translate(0, -0.25rem);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes slide-up {
  from {
    transform: translateY(5rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-right {
  from {
    transform: translateX(-10rem);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
//loader
@keyframes appear {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  90% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}
//loader logo
@keyframes blink {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.3;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 0.6;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slide-down {
  0% {
    transform: translateY(-100vh);
    opacity: 0;
    height: 0;
  }
  15% {
    transform: translateY(0);
    opacity: 1;
    height: 100vh;
    position: absolute;
    z-index: 1;
  }
  // 100% {
  //   transform: translateY(-100vh);
  //   opacity: 0;
  // }
}
@keyframes icons {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes hint {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
