.btn {
  border-radius: 5rem;
  box-shadow: inset 0px 0px 3px $color-background;
  background-color: $color-accent;
  cursor: pointer;
  transition: all 0.35s linear;
}

// Transitions

.btn:hover,
.btn:focus-visible,
.btn:active {
  background-color: $color-accent-hover;
}

//icons

.material-icons-outlined.md-32 {
  font-size: 32px;
}

//social media icons
.icons {
  display: flex;
  gap: 1rem;
  align-self: center;
  @media only screen and (min-width: 40em) {
    align-self: flex-end;
    gap: 1.5rem;
  }
  animation: icons linear 0.5s 4.5s forwards;
  opacity: 0;
  a {
    text-decoration: none;
    display: flex;
  }
  i {
    @media only screen and (min-width: 40em) {
      width: 2.5rem;
      height: 2.5rem;
    }
    width: 2rem;
    height: 2rem;
    border: 1px $color-primary solid;
    svg {
      background-color: $color-primary;
    }
  }
}
//portfolio
.portfolio {
  i {
    width: 2rem;
    height: 2rem;
    @media only screen and (min-width: 45em) {
      width: 2rem;
      height: 2rem;
    }
  }
  svg {
    max-width: 2rem;
    max-height: 2rem;
    background-color: $color-accent;
  }
}
//contact section

.btn-accent,
.btn-email,
.btn-secondary {
  margin: 0;
  color: $color-background;
  a {
    text-decoration: none;
    padding: 0.55em 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    gap: 1.5rem;
    font-size: 1.5rem;
    color: $color-background;
  }
  svg {
    background-color: inherit;
  }
}
.btn-accent {
  padding: 0 1rem;
  i {
    width: 1.5rem;
    height: 1.5rem;
    @media only screen and (min-width: 45em) {
      width: 2rem;
      height: 2rem;
    }
  }
}
.btn-email,
.btn-secondary {
  padding: 0 1.75rem;
  background-color: $color-secondary;
  transition: all 0.35s linear;
  i {
    font-size: 32px;
  }
  &:hover,
  &:focus-visible {
    background-color: $color-secondary-hover;
  }
}
.portfolio {
  .btn-secondary {
    padding: 0 0.5rem;
  }
}
