//About section
.card-container {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
  .card {
    display: flex;
    font-family: "JetBrains Mono";
    flex-direction: column;
    flex: 0 0.8 20rem;
    overflow: hidden;
    background: linear-gradient(
      to left,
      rgba(255, 255, 255, 0.1),
      rgba(0, 0, 0, 0.4),
      rgba(255, 255, 255, 0.1)
    );
    border-radius: 16px;
    margin: 0 2rem;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    .visible {
      display: flex;
      margin: 0;
      justify-content: center;
      flex-direction: column;
      color: $color-accent;
      transform: translateY(50%);
      .cross {
        display: flex;
        justify-content: center;
        gap: 1rem;
      }
      i {
        font-size: 64px;
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
      .labels {
        margin: 0;
        height: 0;
        opacity: 0;
        overflow: hidden;
        transition: height 0.25s linear;
      }
    }
    .invisible {
      padding: 2.5rem 1rem 2rem;
      margin: 0;
      display: flex;
      z-index: -1;
      color: $color-accent;
    }
  }
}
//tablet size
@media only screen and (min-width: 40em) {
  .card-container {
    gap: 2rem;
    .card-md {
      flex: 0 0 23rem;
      padding: 1rem;
      margin: 0;
      .visible {
        transition: all 0.35s linear;
        transform: translateY(5rem);
        opacity: 1;
        justify-content: center;
        // padding: 1rem;
        .labels {
          height: fit-content;
          opacity: 1;
        }
      }
      .invisible {
        padding: 0;
        height: 100%;
        align-items: center;
        z-index: -1;
        color: $color-accent;
        background-color: transparent;
        opacity: 1;
        box-shadow: none;
        transform: translateY(110%);
        transition: all 0.35s linear;
      }
      &:hover {
        cursor: pointer;
        .visible {
          transform: translateY(0);
          background-color: inherit;
          .labels {
            opacity: 0;
          }
        }
        .invisible {
          opacity: 1;
          z-index: 1;
          transform: translateY(-2rem);
        }
        .invisible.extra {
          transform: translateY(-2rem);
        }
      }
    }
  }
}
//desktop size
@media only screen and (min-width: 87.5em) {
  .about {
    .card-container {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(5, 1fr);
      .card-md {
        padding: 0.5rem;
        line-height: 1.2;
        margin: 1rem;
      }
      .card-md:nth-child(1) {
        grid-column: 5/9;
        grid-row: 1/3;
      }
      .card-md:nth-child(2) {
        grid-column: 1/5;
        grid-row: 2/4;
      }
      .card-md:nth-child(3) {
        grid-column: 9/13;
        grid-row: 2/4;
      }
      .card-md:nth-child(4) {
        grid-column: 5/9;
        grid-row: 3/5;
      }
    }
  }
}
//Portfolio Section
.portfolio {
  .cards-container {
    gap: 2rem;
  }
  h2 {
    color: $color-accent;
    margin-top: 0;
    margin-bottom: 2rem;
  }
  .project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    .proj-title {
      margin-top: 0;
      padding: 0 1rem;
      &::after {
        z-index: -1;
        content: "";
        width: 100%;
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        background-color: $color-secondary;
      }
    }
    .image-wrap {
      max-width: 18.5rem;
      margin: 0 auto;
      border: 0.25rem $color-primary solid;
      overflow: hidden;
      border-radius: 2rem;
      &.desk {
        max-width: 25rem;
        border-radius: 5px;
        border: none;
      }
      img {
        display: flex;
      }
    }
  }
  @media only screen and (min-width: 45em) {
    .card-container {
      gap: 4rem;
    }
    .project {
      gap: 4rem;
      min-height: 85vh;
      .proj-title {
        text-align: right;
      }
      .content {
        gap: 2rem;
        align-items: center;
        justify-content: space-between;
        display: flex;
        .image-wrap {
          margin: 0;
        }
        .details {
          flex: 0.9;
          margin: 0;
        }
      }
      &:nth-child(odd) {
        .proj-title {
          align-self: flex-start;
          &::after {
            // left: -1.5rem;
          }
        }
        .content {
          text-align: right;
          flex-direction: row;
        }
      }
      &:nth-child(even) {
        .proj-title {
          align-self: flex-end;
          &::after {
            // right: -1.5rem;
            // left: initial;
          }
        }
        .content {
          text-align: left;
          flex-direction: row-reverse;
        }
      }
    }
  }
}
