$color-primary: hsl(0, 0%, 100%);
$color-primary-light: hsla(0, 0%, 100%, 0.272);
$color-background: hsl(0, 0%, 0%);
$color-background-light: hsl(0, 0%, 7%);
$color-secondary: rgb(0, 251, 255);
$color-white: white;
$color-black: black;
$color-accent: rgb(246, 74, 128);
// $color-accent: cyan;
$color-accent-light: rgb(255, 156, 187);
$color-gradient: rgba(0, 0, 0, 0.5);
