$color-primary: hsl(0, 0%, 100%);
$color-primary-light: hsla(0, 0%, 100%, 0.272);
$color-primary-clear: hsla(0, 0%, 96%, 0.645);
$color-background: hsl(0, 0%, 0%);
$color-background-light: hsl(0, 0%, 7%);
$color-background-clear: hsl(0, 0%, 9%);
$color-transparent: rgba(255, 255, 255, 0);
$color-secondary: rgb(0, 251, 255);
$color-secondary-light: rgb(145, 250, 252);
$color-secondary-hover: rgb(2, 181, 184);

$color-accent: rgb(246, 74, 128);
$color-accent-dark: rgb(255, 50, 50);
$color-accent-light: rgb(255, 156, 187);
$color-accent-hover: rgb(217, 33, 97);
$color-gradient: rgba(0, 0, 0, 0.5);

//Accessibility
$clip-path: polygon(0 0, 0 0.1%, 0.1% 0.1%, 0.1% 0);
