.nav-bar {
  position: absolute;
  right: 1rem;
  display: flex;
  top: 1rem;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.1);
  }
}

.material-icons-outlined {
  opacity: 1;
  transition: opacity 0.2s;

  &.md-48 {
    font-size: 48px;
  }

  &.md-light {
    color: $color-secondary;
  }

  &.clicked {
    position: absolute;
    top: -100rem;
    opacity: 0;
  }
}

.menu {
  position: absolute;
  top: -100rem;
  width: 10rem;
  right: 0;
  opacity: 0;
  background-color: whitesmoke;
  transition: opacity 0.5s linear;
  @media only screen and (min-width: 45em) {
    &.active {
      top: 3.5rem;
      right: 1.5rem;
      opacity: 1;
    }
  }
  .nav-basic li {
    padding: 1rem;
    // margin: 0;
    display: flex;
    border: 1px $color-secondary solid;
  }
}

.logo {
  margin: -5rem auto 2rem;
  text-align: center;
  max-width: min(20rem, 70%);

  @media only screen and (min-width: 35em) {
    margin-top: -8rem;
  }
  &:hover {
    transform: scale(1.2);
  }
  img {
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
    background-color: white;
  }
}

.collection {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-top: 2rem;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  .img-box {
    height: 7rem;
    width: 7rem;
    display: flex;
    align-items: center;
    transform-origin: center;
    transform: rotate(45deg);
    background-color: pink;
    margin: 1rem;

    .img-wrapper {
      transform-origin: center;
      transform: rotate(-45deg);
    }
  }

  @media only screen and (min-width: 45em) {
    gap: 4rem;
    .img-box {
      height: 15rem;
      width: 15rem;
      margin: 2rem;
    }
  }
}
